@model TrabajoTecnico.Models.Producto

@{
    ViewData["Title"] = "Details";
}
<div class="content">
    <br />
    <br />
    <div class="container bg-dark p-4 rounded-2">
        <h1 class="text-white">Detalles</h1>

        <div>
            <h4 class="text-white">Producto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2 text-white">
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>
                <dd class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt class="col-sm-2 text-white">
                    @Html.DisplayNameFor(model => model.Descripcion)
                </dt>
                <dd class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Descripcion)
                </dd>
                <dt class="col-sm-2 text-white">
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dd class="col-sm-10 text-white">
                    @Html.DisplayFor(model => model.Precio)
                </dd>
            </dl>
        </div>
        <div>
            <button class="btn btn-primary m-3 rounded-2"><a asp-action="Edit" asp-route-id="@Model?.IdProducto">Editar</a></button>
            <button class="btn btn-primary m-3 rounded-2"><a asp-action="Index">Regresar</a></button>
        </div>
    </div>
</div>

