@model TrabajoTecnico.Models.DetalleProducto

@{
    ViewData["Title"] = "Details";
}
<div class="content">
    <br />
    <br />
    <div class="container bg-dark p-4 rounded-2 text-white">
        <h1>Detalles</h1>

        <div>
            <h4>DetalleProducto</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Cantidad)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ValorTotal)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ValorTotal)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ValorIva)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ValorIva)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IdProductoNavigation)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IdProductoNavigation.IdProducto)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IdDetalleProducto" class="btn btn-primary rounded-2 m-2">Editar</a>
            <a asp-action="Index" class="btn btn-primary rounded-2 m-2">Regresar</a>
        </div>
    </div>
</div>

