@model IEnumerable<TrabajoTecnico.Models.DetalleProducto>

@{
    ViewData["Title"] = "Index";
}
<div class="content">
    <br />
    <br />
    <div class="container bg-dark p-4 rounded-2 text-white">
        <h1>Detalles de Producto</h1>

        <p>
            <a asp-action="Create" class="btn btn-success mg-2"><img src="~/img/add.png" alt="" width="30px">Crear</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-white">
                        @Html.DisplayNameFor(model => model.Cantidad)
                    </th>
                    <th class="text-white">
                        @Html.DisplayNameFor(model => model.ValorTotal)
                    </th>
                    <th class="text-white">
                        @Html.DisplayNameFor(model => model.ValorIva)
                    </th>
                    <th class="text-white">
                        @Html.DisplayNameFor(model => model.IdProducto)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="text-white">
                            @Html.DisplayFor(modelItem => item.Cantidad)
                        </td>
                        <td class="text-white">
                            @Html.DisplayFor(modelItem => item.ValorTotal)
                        </td>
                        <td class="text-white">
                            @Html.DisplayFor(modelItem => item.ValorIva)
                        </td>
                        <td class="text-white">
                            @Html.DisplayFor(modelItem => item.IdProducto)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.IdDetalleProducto" class="btn btn-primary mg-2"><img src="~/img/edit.png" alt="" width="30px">Editar</a> |
                            <a asp-action="Details" asp-route-id="@item.IdDetalleProducto" class="btn btn-info mg-2"><img src="~/img/view.png" alt="" width="30px">Detalles</a> |
                            <a asp-action="Delete" asp-route-id="@item.IdDetalleProducto" class="btn btn-danger"><img src="~/img/delete.png" alt="" width="30px">Borrar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>
